html {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: #333;
}

main {
  margin: auto;
  overflow: hidden;
  width: 850px;
  height: 480px;
}

h1 {
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #f6f4f3;
}

h1 sup {
  text-transform: lowercase;
  color: #ff3e41;
}

#countdown {
  color: #f6f4f3;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: 5%;
}

.days, .hours, .minutes, .seconds, .left {
  display: inline-block;
  padding: 20px;
  min-width: 120px;
  border-radius: 10px;
}

.days { background: #d87200; }
.hours { background: #ff3e41; }
.minutes { background: #ffb20c; }
.seconds { background: #2186ff; }
.left { background: #e10a0a; }
.c-number {
  font-family: sans-serif;
  color: #333;
  font-size: 5em;
}

footer {
  text-align: center;
  background: #fff;
  padding: 1em;
  color: #222;
}
